.App {
  background-color: black;
  color: rgb(227, 227, 227);
  margin: 15px;
  padding: 10px;
  margin-bottom: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(209, 209, 209);
}

a {
  color: rgb(227, 227, 227);
  text-decoration: none;
}

.Header {
  margin-bottom: 0px;
  font-size: 60px;

  font-weight: bold;
}

.HomePageUserName {
  font-weight: bold;
  font-size: 50px;
}

.HomePageGreeting {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 60px;
  font-weight: normal;
}

.HomePageTrendingIntro {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: normal;
}

.ReviewsList {
  margin-top: 30px;
}

.ListedReviewFragment {
  margin-bottom: 20px;
  padding: 10px;
}

.ListedReviewTitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ListedReviewByAndIn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ListedReviewOn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ListedReviewSmallText {
  font-weight: bold;
}

.ListedReviewOn {
  font-size: 12px;
}

.ListedReviewPreviewText {
  font-size: 20px;
  font-weight: 500;
}

.ListedCategoryFragment {
  margin-top: 20px;
  padding: 15px;
}

.SortByField {
  margin-top: 0px;
  padding-top: 0px;
}

.SortBySmallHeader {
  margin: 5px;
  margin-left: 0;
  font-weight: 400;
}

.SortByDropdown {
  background-color: black;
}

.SingleReviewTitle {
  line-height: 0.9;
}

.SingleReviewSpecs {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 0px;
}

.SingleReviewSmallText {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
}

.SingleReviewImage {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.SingleReviewBody {
  font-size: 20px;
}

.SingleReviewVoteCheck {
  background-color: black;
  color: white;
}

.SingleReviewCommentFragment {
  margin-bottom: 20px;
  padding: 15px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.DeleteButton {
  float: right;
  margin-top: -20px;
}

.AddCommentInputBox {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 100px;
  background-color: rgb(93, 93, 93);
  font-size: 20px;
  color: white;
  position: relative;
  flex-grow: 2;
}

::placeholder {
  font-size: 20px;
  color: white;
}

.AddCommentButton {
  float: right;
  position: relative;
  bottom: 60px;
  /*  

  margin-left: 10px;
  right: 30px; */
  /* z-index: 2;
  transform: translateX(2px);

  margin-top: -60px;
  opacity: 100%;
  right: 30px; */
}

.AddCommentButton-inactive {
  opacity: 50%;
}

.StrategyCategoryFragment {
  background-color: rgb(82, 82, 82);
}

.StrategyListFragment {
  background-color: rgb(82, 82, 82);
}

.StrategySingleReviewLink {
  color: rgb(82, 82, 82);
}

.Hidden-rolesCategoryFragment {
  background-color: rgb(189, 114, 189);
}

.Hidden-rolesListFragment {
  background-color: rgba(189, 114, 189, 0.655);
}

.Hidden-rolesSingleReviewLink {
  color: rgb(189, 114, 189);
}

.DexterityCategoryFragment {
  background-color: rgb(163, 31, 31);
}

.DexterityListFragment {
  background-color: rgb(134, 53, 53);
}

.DexteritySingleReviewLink {
  color: rgb(163, 31, 31);
}

.Push-your-luckCategoryFragment {
  background-color: rgb(25, 91, 25);
}

.Push-your-luckListFragment {
  background-color: rgb(51, 101, 45);
}

.Push-your-luckSingleReviewLink {
  color: rgb(25, 91, 25);
}

.Roll-and-writeCategoryFragment {
  background-color: rgb(166, 105, 26);
}

.Roll-and-writeListFragment {
  background-color: rgb(166, 105, 26);
}

.Roll-and-writeSingleReviewLink {
  color: rgb(166, 105, 26);
}

.Deck-buildingCategoryFragment {
  background-color: rgb(62, 156, 215);
}

.Deck-buildingListFragment {
  background-color: rgb(77, 131, 165);
}

.Deck-buildingSingleReviewLink {
  color: rgb(62, 156, 215);
}

.Engine-buildingCategoryFragment {
  background-color: rgb(0, 71, 158);
}

.Engine-buildingListFragment {
  background-color: rgb(31, 71, 120);
}

.Engine-buildingSingleReviewLink {
  color: rgb(0, 71, 158);
}

.NavButtons {
  font-size: 24px;
  background-color: rgb(48, 48, 48);
}

.NavBar {
  position: fixed;
  right: 20px;
  top: 675px;
  height: 83px;
  width: 100%;
}

.NavButtons {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-left: 5px;
  float: right;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1100px) {
  .SingleReviewPage {
    margin: auto;
    width: 815px;
    justify-content: center;
  }

  .SingleReviewSpecs {
    margin: 50px;
    text-align: center;
    font-size: 30px;
  }

  .SingleReviewSmallText {
    font-size: 30px;
  }

  .SingleReviewImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .SingleReviewBody {
    font-size: 24px;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .Header {
    text-align: center;
  }

  .SortByField {
    text-align: center;
  }

  .ReviewsList {
    display: grid;
    grid-template-columns: 245px 245px 245px;
    gap: 40px;
    justify-content: center;
  }

  .CategoriesList {
    display: grid;
    grid-template-columns: 245px 245px 245px;
    gap: 40px;
    justify-content: center;
  }

  .NavBar {
    margin-top: 55px;
    position: fixed;
    right: 50px;
    top: 30px;
    height: 83px;
    width: 100%;
  }

  .SingleReviewLogo {
    position: fixed;
    margin-left: -400px;
  }

  .Logo {
    position: fixed;
    margin-left: 75px;
  }

  .fa-check {
    width: 100px;
  }
}
